annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
catboost==1.2.10
certifi==2026.2.25
click==8.3.1
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
exceptiongroup==1.3.1
fastapi==0.128.0
fonttools==4.62.1
graphviz==0.21
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
joblib==1.5.3
kiwisolver==1.5.0
matplotlib==3.10.8
narwhals==2.18.0
numpy==2.2.6
packaging==26.0
pandas==2.3.3
pillow==12.1.1
plotly==6.6.0
pydantic==2.12.5
pydantic_core==2.41.5
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
scikit-learn==1.6.1
scipy==1.15.3
six==1.17.0
starlette==0.50.0
threadpoolctl==3.6.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uvicorn==0.40.0
watchfiles==1.1.1
websockets==16.0
xgboost==3.2.0
